@page "/interactivity"
@using DemoProject.Entities
@using DemoProject.Repositories
@rendermode InteractiveServer

<h3>Interactivity</h3>

Counter staat nu op: @Counter

<button @onclick="Increment">Klik mij</button>

<button @onclick="Start">Start</button>
<hr />

<h3>Autocompleter</h3>

<Autocompleter T="Burger" Data="Burgers" OnSelect="HandleSelect">
    <ItemTemplate Context="burger">
        @burger.Name kost @burger.Price.ToString("C")
    </ItemTemplate>
</Autocompleter>


@code {
    [Inject] public IBurgerRepository BurgerRepository { get; set; } = null!;

    public List<Burger>? Burgers { get; set; }
    public int Counter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Burgers = (await BurgerRepository.GetAllAsync()).ToList();


    }

    void Start()
    {
        var i = 0;
        var timer = new Timer(new TimerCallback(state =>
        {
            Console.WriteLine($"timer gestart! {++i} {Thread.CurrentThread.ManagedThreadId}");
        }), null, 1000, 1000);
    }

    void Increment()
    {
        Counter++;
    }

    void HandleSelect(Burger burger)
    {
        Console.WriteLine($"Hey een burger! {burger.Name}");
    }
}
