@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    protected override void OnInitialized()
    {
        Console.WriteLine($"starting task {Thread.CurrentThread.ManagedThreadId}");
        var t = new Task(() =>
        {
            Console.WriteLine($"hallo task!  {Thread.CurrentThread.ManagedThreadId}");
        });
        t.Start();

        var timer = new Timer(new TimerCallback(state =>
        {
            Console.WriteLine("timer gestart!");
        }), null, 1000, 1000);
    }
}